@{
    ViewBag.Title = "Home Page";
}

<style>
    html, body { height: 100%; width: 100%; margin: 0; }
    .container { height: 100%; width: 100%; }
</style>

<div class="container">
    <img src="~/Content/Images/arrow_up.png" class="img-responsive" style="width: 15%; position: relative; left: 12%; top: 5%;" />
    <img src="~/Content/Images/arrow_left.png" class="img-responsive pull-left" style="width: 15%; position: relative;" />
    <img src="~/Content/Images/arrow_right.png" class="img-responsive pull-left" style="width: 15%; position: relative; left: 9%;" />
    <img src="~/Content/Images/arrow_down.png" class="img-responsive" style="width: 15%; position: relative; left: -18%; top: 18%;" />
    <img src="~/Content/Images/engine.png" class="img-responsive" style="width: 15%; position: relative; top: 0%; left: 27%" />
</div>

