@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div id="sensors" class="col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>Sensor</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Touch</td>
                        <td id="touchSensor">--</td>
                    </tr>
                    <tr>
                        <td>Color</td>
                        <td id="colorSensor">--</td>
                    </tr>
                    <tr>
                        <td>Gyro</td>
                        <td id="gyroSensor">--</td>
                     </tr>
                     <tr>
                        <td>Ir</td>
                        <td id="irSensor">--</td>
                     </tr>
                </tbody>
            </table>
        </div>

        <div id="controls" class="col-md-6">
            <div class="row">
                <div class="col-md-4 col-xs-4"></div>
                <div class="col-md-4 col-xs-4">
                    <a href="#" data-command="forward"><img src="~/Content/Images/arrow_up.png" class="img-responsive"></a>
                </div>
                <div class="col-md-4 col-xs-4"></div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-4">
                    <a href="#" data-command="left"><img src="~/Content/Images/arrow_left.png" class="img-responsive"></a>
                </div>
                <div class="col-md-4 col-xs-4"></div>
                <div class="col-md-4 col-xs-4">
                    <a href="#" data-command="right"><img src="~/Content/Images/arrow_right.png" class="img-responsive"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-4"></div>
                <div class="col-md-4 col-xs-4">
                    <a href="#" data-command="backward"><img src="~/Content/Images/arrow_down.png" class="img-responsive"></a>
                </div>
                <div class="col-md-4 col-xs-4">
                    <a href="#" data-command="fire"><img src="~/Content/Images/engine.png" class="img-responsive"></a>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts
{
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script type="text/javascript">

    var robotId = -1;
    $('#logout').hide();
    CreateDropdown();
    updateSensors();

    window.setInterval(function () {
        CreateDropdown();
    }, 5000);

    window.setInterval(function () {
        updateSensors();
    }, 100);

    function CreateDropdown() {
        $.ajax({
            cache: false,
            url: 'http://test.henkmollema.nl/robot/all',
            dataType: 'jsonp',
            success: function (data) {
                $('#robots').html('');
                for (var i in data) {
                    $('#robots').append('<li role="presentation"><a href="#" data-id="' + data[i] + '" role="menuitem">' + 'Robot ' + data[i] + '</a></li>');
                }
                if (data[0] == null) {
                    $('#robots').append('<li role="presentation" class="disabled"><a role="menuitem">Er zijn geen robots online</a></li>');
                }
            }
        });
    };

    function updateSensors() {
        $.ajax({
            cache: false,
            url: 'http://test.henkmollema.nl/robot/' + robotId + '/sensors/get',
            dataType: 'jsonp',
            success: function (data) {
                 if (jQuery.isEmptyObject(data.data)) {
                    $('#touchSensor').hmtl('--');
                    $('#colorSensor').html('--');
                    $('#gyroSensor').html('--');
                    $('#irSensor').html('--');
                 }
                 else {
                     $('#touchSensor').html(data.data.touch);
                     $('#colorSensor').html(data.data.color);
                     $('#gyroSensor').html(data.data.gyro);
                     $('#irSensor').html(data.data.ir);
                     $('#battery').html('Battery: ' + data.data.battery + '%');
                 }
            }
        });
    };

    $(function () {
        $('#robots').on('click', 'a', function () {
            robotId = $(this).data('id');
            if (robotId == null) {
                robotId = -1;
            }
            else {
                $('#dropdown-title').html('Robot ' + robotId);
                $('#logout').show();
            }
        });

        function pushControl(command) {
            if (robotId == -1) {
                window.alert('Selecteer eerst een robot!');
            }
            else {
                $.post(
                '@Url.Action("ControlClick", "Home")',
                {
                    'id': robotId,
                    'command': command
                });
            }
        }

        $('#controls').on('click', 'a', function () {
            var command = $(this).data('command');
            pushControl(command);
        });

        $('html').keyup(function (event) {
            switch (event.keyCode) {
                case 37:
                    pushControl('left');
                    break;
                case 38:
                    pushControl('forward');
                    break;
                case 39:
                    pushControl('right');
                    break;
                case 40:
                    pushControl('backward');
                    break;
                case 32:
                    pushControl('fire');
                    break;
            }
        });

        $('#logout').on('click', 'a', function () {
            $.get('http://test.henkmollema.nl/robot/' + robotId + '/logout');
            robotId = -1;
            setTimeout(function () { location.reload(true) }, 300);
        });
    });
</script>
}

